samples/travel-request-approval/sourcecode/src/Workflows/Calculatetimetakentoresponse-F1D30B96-1564-ED11-9562-002248212F5A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "summit_sharedcommondataserviceforapps_e8f39"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "4be5fa1b-14f6-4ec2-8826-e9f4c5830598"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "sb_travelrequestaudit",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "689a80a0-e9dc-4ea5-aaf7-412576e3d24d"
          },
          "type": "Compose",
          "inputs": "test"
        },
        "List_rows": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ca2bdc18-ff2d-4673-aa20-c1b7daedcf0f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "sb_travelrequestaudits",
              "$filter": "createdon lt @{triggerOutputs()?['body/createdon']} and _sb_travelrequest_value eq '@{triggerOutputs()?['body/_sb_travelrequest_value']}'",
              "$orderby": "createdon desc",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Compose_3": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "69448316-9977-48c4-99c8-f1989d534b99"
              },
              "type": "Compose",
              "inputs": "@{items('Apply_to_each')?['createdon']} - @{items('Apply_to_each')?['sb_name']} - @{ticks(items('Apply_to_each')?['createdon'])}"
            },
            "Compose_4": {
              "runAfter": {
                "Compose_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9b1a3381-9dbd-40f4-b75b-2854c7aace22"
              },
              "type": "Compose",
              "inputs": "@{triggerOutputs()?['body/createdon']} - @{triggerOutputs()?['body/sb_name']} - @{ticks(triggerOutputs()?['body/createdon'])}"
            },
            "Compose_2": {
              "runAfter": {
                "Compose_4": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d878c7c4-f5af-4850-8015-2b98e6b12a58"
              },
              "type": "Compose",
              "inputs": "@sub(ticks(triggerOutputs()?['body/createdon']),ticks(items('Apply_to_each')?['createdon']))"
            },
            "Update_a_row": {
              "runAfter": {
                "Compose_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f24289e5-b642-4a7b-98ab-42a2a28d69a4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "sb_travelrequestaudits",
                  "recordId": "@triggerOutputs()?['body/sb_travelrequestauditid']",
                  "item/sb_timetoresponse": "@div(outputs('Compose_2'),600000000)"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "90771cdb-2254-469a-8816-93ec067f8c0e"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}