samples/travel-request-approval/sourcecode/src/Workflows/TravelRequestNotification-FD7FE842-6B2E-ED11-9DB1-0022482D3383.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "summit_sharedcommondataserviceforapps_e8f39"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_onedriveforbusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "sb_sharedonedriveforbusiness_25cf8"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "summit_sharedoffice365_a3f45"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "dib_sharedcommondataserviceforapps_c79ad"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "acbb79a8-9ec2-4ef4-9b39-78d6c42d68a0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "sb_travelrequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "sb_travelrequeststatus"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_requestor_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e7b7034b-ef0a-4fbd-a03a-f67fd6994199"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_sb_requestedby_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_Requested_To_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9c4f93b5-1163-4c8f-b84d-0f127ceac912"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Travel Request Status",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_email_managers": {
          "runAfter": {
            "Define_Travel_Status": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ffad2e0b-c254-4186-b39c-2d836ea10333"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Email address",
                "type": "string"
              }
            ]
          }
        },
        "Get_a_purpose_by_ID": {
          "runAfter": {
            "Get_a_requestor_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "da3748eb-6d16-461b-a743-c9a22b73f389"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "sb_purposeoftravels",
              "recordId": "@triggerOutputs()?['body/_sb_purpose_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Setup_managers": {
          "actions": {
            "Get_a_manager_1_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "93fc387b-ae3d-4d39-8a37-081a02e4eb4f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@outputs('Get_a_requestor_by_ID')?['body/_parentsystemuserid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_2": {
              "actions": {
                "Get_a_manager_2_by_ID": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "93ea3711-7494-4ab6-9594-0e3d7b3ac7f3"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "recordId": "@outputs('Get_a_manager_1_by_ID')?['body/_parentsystemuserid_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_3": {
                  "actions": {
                    "Get_a_manager_3_by_ID": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9f7085d1-00dc-4f17-af1c-2d2b286b707f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "systemusers",
                          "recordId": "@outputs('Get_a_manager_2_by_ID')?['body/_parentsystemuserid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Append_to_string_variable_3": {
                      "runAfter": {
                        "Get_a_manager_3_by_ID": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "da1433f3-7f7f-42f1-9507-3fe925e074cb"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "Email address",
                        "value": ";@{outputs('Get_a_manager_3_by_ID')?['body/internalemailaddress']}"
                      }
                    },
                    "Condition_5": {
                      "actions": {
                        "Get_a_manager_4_by_ID": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "7693199f-495d-4fe1-a5a0-ac8aceea2bb0"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "systemusers",
                              "recordId": "@outputs('Get_a_manager_3_by_ID')?['body/_parentsystemuserid_value']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Append_to_string_variable_4": {
                          "runAfter": {
                            "Get_a_manager_4_by_ID": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "37757d1b-7f2f-4d32-99d2-db3aff61e5a0"
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "Email address",
                            "value": ";@{outputs('Get_a_manager_4_by_ID')?['body/internalemailaddress']}"
                          }
                        }
                      },
                      "runAfter": {
                        "Append_to_string_variable_3": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "not": {
                          "equals": [
                            "@outputs('Get_a_manager_3_by_ID')?['body/_parentsystemuserid_value']",
                            "@null"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "79094ed2-fedd-4364-a18a-2c9803ca48a2"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Append_to_string_variable_2": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "not": {
                      "equals": [
                        "@outputs('Get_a_manager_2_by_ID')?['body/_parentsystemuserid_value']",
                        "@null"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "009eba87-4c7f-4ac6-a6d2-aa3e2cab6b44"
                  },
                  "type": "If"
                },
                "Append_to_string_variable_2": {
                  "runAfter": {
                    "Get_a_manager_2_by_ID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6c57e9da-315d-444b-a4c8-42a51b42fe3b"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "Email address",
                    "value": ";@{outputs('Get_a_manager_2_by_ID')?['body/internalemailaddress']}"
                  }
                }
              },
              "runAfter": {
                "Append_to_string_variable": [
                  "Succeeded"
                ]
              },
              "expression": {
                "not": {
                  "equals": [
                    "@outputs('Get_a_manager_1_by_ID')?['body/_parentsystemuserid_value']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "17b91d73-3cfe-4076-bca4-a2eac46ae7bf"
              },
              "type": "If"
            },
            "Append_to_string_variable": {
              "runAfter": {
                "Get_a_manager_1_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0d619a28-f0a6-4437-a18c-9de8a5757be6"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "Email address",
                "value": "@outputs('Get_a_manager_1_by_ID')?['body/internalemailaddress']"
              }
            }
          },
          "runAfter": {
            "Initialize_email_managers": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs('Get_a_requestor_by_ID')?['body/_parentsystemuserid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "cf2f180e-573d-49a4-ab76-62a3bc2fc805"
          },
          "type": "If"
        },
        "Send_Email": {
          "runAfter": {
            "Initialize_variable_3": [
              "Succeeded"
            ]
          },
          "cases": {
            "Travel_Booked": {
              "case": 126390007,
              "actions": {
                "Convert_file_2": {
                  "runAfter": {
                    "Create_file": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b4b474ce-6d73-4bcb-9532-0ea5b6c9797f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_onedriveforbusiness",
                      "operationId": "ConvertFile",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
                    },
                    "parameters": {
                      "id": "@outputs('Create_file')?['body/Id']",
                      "type": "PDF"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Send_Email_to_sender": {
                  "runAfter": {
                    "Convert_file_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2de55d1f-f54a-4604-9ae3-a419eb18a6c6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@outputs('Get_a_requestor_by_ID')?['body/internalemailaddress']",
                      "emailMessage/Subject": "Travel Request for @{outputs('Get_a_requestor_by_ID')?['body/fullname']} for @{outputs('Get_a_purpose_by_ID')?['body/sb_name']}",
                      "emailMessage/Body": "<p>Hi @{outputs('Get_a_requestor_by_ID')?['body/fullname']},<br>\nYour Travel Request has been @{variables('Travel Request Status')}<br>\n<br>\nSummary:<br>\n<strong>Requested by:</strong> @{outputs('Get_a_requestor_by_ID')?['body/fullname']}<br>\n<strong>Travel Start Date:</strong> &nbsp;@{triggerOutputs()?['body/sb_travelstartdate']}<br>\n<strong>Travel End Date:</strong> @{triggerOutputs()?['body/sb_travelenddate']}<br>\n<strong>Travel Cost:</strong> @{triggerOutputs()?['body/sb_travelcost']}<br>\n<strong>Deadline:</strong> @{triggerOutputs()?['body/sb_deadline']}<br>\n<br>\nPlease find more details in the Travel Request App. <a href=\"https://make.powerapps.com/e/7b12cde4-0a00-4ecf-85a1-942b3ff5ffbc/canvas/?action=edit&amp;app-id=%2Fproviders%2FMicrosoft.PowerApps%2Fapps%2Fe44c7d46-eaf7-4b2f-a71e-72eec9f9ecae\">click here </a>&nbsp;</p>",
                      "emailMessage/Attachments": [
                        {
                          "Name": "Travel Itinerary.pdf",
                          "ContentBytes": "@body('Convert_file_2')"
                        }
                      ],
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "List_rows": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ed4a86e9-a10b-4f3a-a9a2-f4d7dea41566"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "sb_hotelbookings",
                      "$filter": "_sb_travelrequestid_value eq '@{triggerOutputs()?['body/sb_travelrequestid']}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each": {
                  "foreach": "@outputs('List_rows')?['body/value']",
                  "actions": {
                    "Append_to_string_variable_6": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "191d8718-1da2-4065-9a9c-5fe03e92ffe0"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "Hotel Booking Content",
                        "value": "<tr><td>@{items('Apply_to_each')?['sb_name']}</td><td>@{items('Apply_to_each')?['sb_hotelcity']}</td><td>@{items('Apply_to_each')?['sb_hotelcost']}</td><td>@{items('Apply_to_each')?['sb_checkindate']}</td><td>@{items('Apply_to_each')?['sb_checkoutdate']}</td></tr>"
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "32a4a74e-18fa-45d1-95ef-737896b58cbe"
                  },
                  "type": "Foreach"
                },
                "Create_file": {
                  "runAfter": {
                    "Apply_to_each_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "86993206-f3cb-436f-83e7-a05305a2e9f4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_onedriveforbusiness",
                      "operationId": "CreateFile",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
                    },
                    "parameters": {
                      "folderPath": "/",
                      "name": "temp.html",
                      "body": "<!DOCTYPE html>\n<html>\n<body>\n\n<h2>Travel Itinerary</h2>\n<table border=1 cellspacing=0 cellpadding=5>\n<tr><td><b>Requestor<b></td><td>@{outputs('Get_a_requestor_by_ID')?['body/fullname']}</td></tr>\n<tr><td><b>Travel Cost<b></td><td>@{triggerOutputs()?['body/sb_travelcost']}</td></tr>\n<tr><td><b>Travel Start Date<b></td><td>@{triggerOutputs()?['body/sb_travelstartdate']}</td></tr>\n<tr><td><b>Travel End Date<b></td><td>@{triggerOutputs()?['body/sb_travelenddate']}</td></tr>\n<tr><td><b>Travel Request Note<b></td><td>@{triggerOutputs()?['body/sb_note']}</td></tr>\n<tr><td colspan=2><h3>Flight Information</h3></td></tr>\n<tr><td colspan=2>\n\n<table cellspacing=0 cellpadding=2>\n<tr><th>Airlines</th><th>Departure City</th><th>Arrival City</th><th>Outbound Date</th><th>Return Date</th></tr>\n@{variables('Flight Booking Content')}\n</table>\n\n\n</td></tr>\n<tr><td colspan=2><h3>Hotel Information</h3></td></tr>\n<tr><td colspan=2 >\n<table cellspacing=0 cellpadding=2>\n<tr><th>Hotel Name</th><th>Hotel City</th><th>Cost</th><th>Check-In</th><th>Check-Out</th></tr>\n@{variables('Hotel Booking Content')}\n</table>\n</td></tr>\n</table>\n\n</body>\n</html>\n\n"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "List_rows_2": {
                  "runAfter": {
                    "Apply_to_each": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "eb2deabe-7db8-41eb-b628-150619a72290"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "sb_flightbookingses",
                      "$filter": "_sb_travelrequestid_value eq '@{triggerOutputs()?['body/sb_travelrequestid']}'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each_2": {
                  "foreach": "@outputs('List_rows_2')?['body/value']",
                  "actions": {
                    "Append_to_string_variable_5": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "954c3c37-9bac-4d81-b8b4-bd742cda78a4"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "Flight Booking Content",
                        "value": "<tr><td>@{items('Apply_to_each_2')?['sb_airlines']}</td><td>@{items('Apply_to_each_2')?['sb_departurecity']}</td><td>@{items('Apply_to_each_2')?['sb_arrivalcity']}</td><td>@{items('Apply_to_each_2')?['sb_outboundflightdatetime']}</td><td>@{items('Apply_to_each_2')?['sb_returnflightdatetime']}</td></tr>"
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7855018b-24eb-40e1-87cf-877412c6807a"
                  },
                  "type": "Foreach"
                }
              }
            },
            "Pending": {
              "case": 126390000,
              "actions": {
                "Send_an_email_(V2)_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "449ae6ba-d351-4a86-baf4-4e7159ce429f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@variables('Email address')",
                      "emailMessage/Subject": "Approval Needed for Travel Request for @{outputs('Get_a_requestor_by_ID')?['body/fullname']} for @{outputs('Get_a_purpose_by_ID')?['body/sb_name']}",
                      "emailMessage/Body": "<p>Hello,<br>\n@{outputs('Get_a_requestor_by_ID')?['body/fullname']} has @{variables('Travel Request Status')}the travel request dated from @{triggerOutputs()?['body/sb_travelstartdate']} to @{triggerOutputs()?['body/sb_travelenddate']} .<br>\n<br>\nSummary:<br>\n<strong>Requested by:</strong> @{outputs('Get_a_requestor_by_ID')?['body/fullname']}<br>\n<strong>Travel Start Date:</strong> &nbsp;@{triggerOutputs()?['body/sb_travelstartdate']}<br>\n<strong>Travel End Date:</strong> @{triggerOutputs()?['body/sb_travelenddate']}<br>\n<strong>Deadline:</strong> @{triggerOutputs()?['body/sb_deadline']}<br>\n<br>\nPlease find more details in the Travel Request App. <a href=\"https://make.powerapps.com/e/7b12cde4-0a00-4ecf-85a1-942b3ff5ffbc/canvas/?action=edit&amp;app-id=%2Fproviders%2FMicrosoft.PowerApps%2Fapps%2Fe44c7d46-eaf7-4b2f-a71e-72eec9f9ecae\">click here</a>&nbsp;</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Send_an_email_(V2)_3": {
                  "runAfter": {
                    "Send_an_email_(V2)_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1d9b7a19-acb1-488d-8d77-e01e8c77df40"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@outputs('Get_a_requestor_by_ID')?['body/internalemailaddress']",
                      "emailMessage/Subject": "Approval Needed for Travel Request for @{outputs('Get_a_requestor_by_ID')?['body/fullname']} for @{outputs('Get_a_purpose_by_ID')?['body/sb_name']}",
                      "emailMessage/Body": "<p>Hi @{outputs('Get_a_requestor_by_ID')?['body/fullname']},<br>\nYour Travel Request has been @{variables('Travel Request Status')}<br>\n<br>\n<strong>Travel Start Date:</strong> &nbsp;@{triggerOutputs()?['body/sb_travelstartdate']}<br>\n<strong>Travel End Date:</strong> @{triggerOutputs()?['body/sb_travelenddate']}<br>\n<strong>Deadline: </strong>@{triggerOutputs()?['body/sb_deadline']}<br>\n<br>\nPlease find more details in the Travel Request App. <a href=\"https://make.powerapps.com/e/7b12cde4-0a00-4ecf-85a1-942b3ff5ffbc/canvas/?action=edit&amp;app-id=%2Fproviders%2FMicrosoft.PowerApps%2Fapps%2Fe44c7d46-eaf7-4b2f-a71e-72eec9f9ecae\">click here </a>&nbsp;</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Level_2_Approved": {
              "case": 126390003,
              "actions": {
                "Delay_until_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d91ed9a8-8cd3-4391-9350-fc3849df86f2"
                  },
                  "type": "Wait",
                  "inputs": {
                    "until": {
                      "timestamp": "@{formatDateTime(triggerOutputs()?['body/sb_deadline'],'yyyy-MM-ddTHH:mm:ssZ')}"
                    }
                  }
                },
                "Get_a_row_by_ID": {
                  "runAfter": {
                    "Delay_until_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a456bee3-1e7a-42f8-8159-f668e477ca97"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "sb_travelrequests",
                      "recordId": "@triggerOutputs()?['body/sb_travelrequestid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_6": {
                  "actions": {
                    "Send_an_email_(V2)_4": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "a5e9715c-1c84-4679-90d4-56112fbf9104"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365_1",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@variables('Requestor 1')",
                          "emailMessage/Subject": "The request has been auto approved",
                          "emailMessage/Body": "<p>Hello,<br>\n@{outputs('Get_a_requestor_by_ID')?['body/fullname']} has been auto approved the travel request dated from @{triggerOutputs()?['body/sb_travelstartdate']} to @{triggerOutputs()?['body/sb_travelenddate']} .<br>\n<br>\nSummary:<br>\n<strong>Requested by:</strong> @{outputs('Get_a_requestor_by_ID')?['body/fullname']}<br>\n<strong>Travel Start Date:</strong> &nbsp;@{triggerOutputs()?['body/sb_travelstartdate']}<br>\n<strong>Travel End Date:</strong> @{triggerOutputs()?['body/sb_travelenddate']}<br>\n<strong>Travel Cost:</strong> @{triggerOutputs()?['body/sb_travelcost']}<br>\n<strong>Deadline:</strong> @{triggerOutputs()?['body/sb_deadline']}<br>\n<br>\nPlease find more details in the Travel Request App. <a href=\"https://make.powerapps.com/e/7b12cde4-0a00-4ecf-85a1-942b3ff5ffbc/canvas/?action=edit&amp;app-id=%2Fproviders%2FMicrosoft.PowerApps%2Fapps%2Fe44c7d46-eaf7-4b2f-a71e-72eec9f9ecae\">click here</a>&nbsp;</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Update_a_row": {
                      "runAfter": {
                        "Send_an_email_(V2)_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4503da79-ddb1-4a5c-b751-9ac7aee39e72"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "sb_travelrequests",
                          "recordId": "@outputs('Get_a_row_by_ID')?['body/sb_travelrequestid']",
                          "item/sb_travelrequeststatus": 126390005
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_a_row_by_ID": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_a_row_by_ID')?['body/sb_travelrequeststatus']",
                      126390003
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bac9e5d4-a39d-4c4e-b661-3b753786bfe6"
                  },
                  "type": "If"
                }
              }
            }
          },
          "default": {
            "actions": {
              "Send_an_email_(V2)": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "fb8af000-ac8d-4ebf-be26-4a9b888265ad"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365_1",
                    "operationId": "SendEmailV2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                  },
                  "parameters": {
                    "emailMessage/To": "@{outputs('Get_Requested_2')?['body/internalemailaddress']};@{outputs('Get_Requested_1')?['body/internalemailaddress']}",
                    "emailMessage/Subject": "@{outputs('Get_a_requestor_by_ID')?['body/fullname']} has @{variables('Travel Request Status')} the travel request.",
                    "emailMessage/Body": "<p>Hello,<br>\n@{outputs('Get_a_requestor_by_ID')?['body/fullname']} has @{variables('Travel Request Status')}the travel request dated from @{triggerOutputs()?['body/sb_travelstartdate']} to @{triggerOutputs()?['body/sb_travelenddate']} .<br>\n<br>\nSummary:<br>\n<strong>Requested by:</strong> @{outputs('Get_a_requestor_by_ID')?['body/fullname']}<br>\n<strong>Travel Start Date:</strong> &nbsp;@{triggerOutputs()?['body/sb_travelstartdate']}<br>\n<strong>Travel End Date:</strong> @{triggerOutputs()?['body/sb_travelenddate']}<br>\n<strong>Travel Cost:</strong> @{triggerOutputs()?['body/sb_travelcost']}<br>\n<strong>Deadline:</strong> @{triggerOutputs()?['body/sb_deadline']}<br>\n<br>\nPlease find more details in the Travel Request App. <a href=\"https://make.powerapps.com/e/7b12cde4-0a00-4ecf-85a1-942b3ff5ffbc/canvas/?action=edit&amp;app-id=%2Fproviders%2FMicrosoft.PowerApps%2Fapps%2Fe44c7d46-eaf7-4b2f-a71e-72eec9f9ecae\">click here</a>&nbsp;</p>",
                    "emailMessage/Importance": "Normal"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": "@triggerOutputs()?['body/sb_travelrequeststatus']",
          "metadata": {
            "operationMetadataId": "a5d58028-9c9a-4866-942a-8c2edf3c4df0"
          },
          "type": "Switch"
        },
        "Initialize_Requested_To_1": {
          "runAfter": {
            "Get_a_purpose_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aa15d25d-e2e7-4b41-93b6-c582aad5d975"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Requestor 1",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Requested_To_2": {
          "runAfter": {
            "Initialize_Requested_To_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f9625c5-3421-43d8-ad72-21f58faf2d15"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Requestor 2",
                "type": "string"
              }
            ]
          }
        },
        "Deadline_Reminder": {
          "actions": {
            "Delay_until": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6cbe7cad-eb6c-4c20-a6ec-38a0e487f1c2"
              },
              "type": "Wait",
              "inputs": {
                "until": {
                  "timestamp": "@{formatDateTime(body('Subtract_from_time'),'yyyy-MM-ddTHH:mm:ssZ')}"
                }
              }
            },
            "Condition_7": {
              "actions": {
                "Send_an_email_(V2)_5": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b77fda29-11ae-410d-b82d-131571d643b1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365_1",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@{variables('Requestor 1')};@{variables('Requestor 2')}",
                      "emailMessage/Subject": "Deadline for Travel Request of @{outputs('Get_a_requestor_by_ID')?['body/fullname']} for @{outputs('Get_a_purpose_by_ID')?['body/sb_name']}",
                      "emailMessage/Body": "<p>Hello,<br>\nPlease approve/reject the Travel Request of@{outputs('Get_a_requestor_by_ID')?['body/fullname']} &nbsp;dated from @{triggerOutputs()?['body/sb_travelstartdate']} to @{triggerOutputs()?['body/sb_travelenddate']} .<br>\n<br>\nSummary:<br>\nRequested by: @{outputs('Get_a_requestor_by_ID')?['body/fullname']}<br>\nTravel Start Date: &nbsp;@{triggerOutputs()?['body/sb_travelstartdate']}<br>\nTravel End Date: @{triggerOutputs()?['body/sb_travelenddate']}<br>\nTravel Cost: @{triggerOutputs()?['body/sb_travelcost']}<br>\nDeadline: @{triggerOutputs()?['body/sb_deadline']}<br>\n<br>\nPlease find more details in the Travel Request App. click here&nbsp;</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_a_row_by_ID_2": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/sb_travelrequeststatus']",
                  "@outputs('Get_a_row_by_ID_2')?['body/sb_travelrequestid']"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b22f1d9-ee62-458c-8fea-cb87659df93a"
              },
              "type": "If"
            },
            "Get_a_row_by_ID_2": {
              "runAfter": {
                "Delay_until": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7f073136-20fb-4ae6-b29a-365c01b43718"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "sb_travelrequests",
                  "recordId": "@triggerOutputs()?['body/sb_travelrequestid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Subtract_from_time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "006fc5fb-4710-43fd-b3c0-2ccd5e2d7d28"
          },
          "type": "Scope"
        },
        "Request_1": {
          "actions": {
            "Get_Requested_1": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c32debfd-251c-43ea-a76a-b95d8fa07635"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@triggerOutputs()?['body/_sb_requestedto_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_variable_7": {
              "runAfter": {
                "Get_Requested_1": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4a48f084-9e22-4498-93ce-4d6440bbe467"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Requestor 1",
                "value": "@outputs('Get_Requested_1')?['body/internalemailaddress']"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_sb_requestedto_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "2ca7f120-c2d7-42a2-b60d-5333e84f6aae"
          },
          "type": "If"
        },
        "Define_Travel_Status": {
          "runAfter": {
            "Request_2": [
              "Succeeded"
            ]
          },
          "cases": {
            "Rejected": {
              "case": 126390001,
              "actions": {
                "Set_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "86aa1faf-7a21-44ad-b2ed-c57783f68fd9"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Travel Request Status",
                    "value": "Rejected"
                  }
                }
              }
            },
            "Approved": {
              "case": 126390005,
              "actions": {
                "Set_variable_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ccf25e48-f1b1-49b5-8adf-180803b4ecbd"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Travel Request Status",
                    "value": "Approved"
                  }
                }
              }
            },
            "Canceled": {
              "case": 126390006,
              "actions": {
                "Set_variable_3": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f19dffad-4b68-4afb-bde9-a5ce69c89ced"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Travel Request Status",
                    "value": "Canceled"
                  }
                }
              }
            },
            "Travel_Booked": {
              "case": 126390007,
              "actions": {
                "Set_variable_5": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0548dfce-a1ff-4c0a-ac03-c1549febca6c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Travel Request Status",
                    "value": "Travel Booked"
                  }
                }
              }
            },
            "Pending": {
              "case": 126390000,
              "actions": {
                "Set_variable_6": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "8752a551-476f-40c9-87a1-e457ac88173f"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Travel Request Status",
                    "value": "Pending"
                  }
                }
              }
            }
          },
          "default": {
            "actions": {
              "Set_variable_4": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "07899645-5626-44ce-b5a0-7df6761a44f3"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "Travel Request Status",
                  "value": "Changed"
                }
              }
            }
          },
          "expression": "@triggerOutputs()?['body/sb_travelrequeststatus']",
          "metadata": {
            "operationMetadataId": "9ba3869d-5399-4a12-bcd5-8070ac93da82"
          },
          "type": "Switch"
        },
        "Request_2": {
          "actions": {
            "Get_Requested_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "99f96fd6-f24e-46cd-942c-a019338ba3f8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@triggerOutputs()?['body/_sb_requestedto2_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_variable_8": {
              "runAfter": {
                "Get_Requested_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "954a37a3-b7fb-479b-a291-ee75cfc631b1"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Requestor 2",
                "value": "@triggerOutputs()?['body/_sb_requestedto2_value']"
              }
            }
          },
          "runAfter": {
            "Request_1": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_sb_requestedto2_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "d5406418-1a41-41b1-a505-b2a0cea09bd7"
          },
          "type": "If"
        },
        "Subtract_from_time": {
          "runAfter": {
            "Define_Travel_Status": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5278973b-0251-4440-8fda-57bb7bb8f902"
          },
          "type": "Expression",
          "kind": "SubtractFromTime",
          "inputs": {
            "baseTime": "@triggerOutputs()?['body/sb_deadline']",
            "interval": 2,
            "timeUnit": "Hour"
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Setup_managers": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "493fd826-fba4-46ff-9a0a-350e2aea0417"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Hotel Booking Content",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_3": {
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e32532c-248a-42d6-802e-ff01a98229fe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Flight Booking Content",
                "type": "string"
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Delay_until_3": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "10ea432a-6018-4b29-ba67-65afa3789d97"
              },
              "type": "Wait",
              "inputs": {
                "until": {
                  "timestamp": "@triggerOutputs()?['body/sb_deadline']"
                }
              }
            },
            "Get_a_row_by_ID_3": {
              "runAfter": {
                "Delay_until_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7f073136-20fb-4ae6-b29a-365c01b43718"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "sb_travelrequests",
                  "recordId": "@triggerOutputs()?['body/sb_travelrequestid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_4": {
              "actions": {
                "Update_a_row_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "030d1de1-ff33-4f97-a698-3993b9fe2dc7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "sb_travelrequests",
                      "recordId": "@outputs('Get_a_row_by_ID_3')?['body/sb_travelrequestid']",
                      "item/sb_travelrequeststatus": 126390005
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_a_row_by_ID_3": [
                  "Succeeded"
                ]
              },
              "expression": {
                "not": {
                  "equals": [
                    "@outputs('Get_a_row_by_ID_3')?['body/sb_travelrequeststatus']",
                    126390003
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "065881a8-ddb7-4044-87ab-603a2bf5126d"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Define_Travel_Status": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/sb_travelrequeststatus']",
              126390003
            ]
          },
          "metadata": {
            "operationMetadataId": "062e0069-338f-4087-9d87-03fdfc746f1d"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}