samples/AccountOpeningForm/Microsoft.Flow/flows/7481d393-5b5f-4027-bc08-61e01680ead9/definition.json
{"name":"da136696-ed7f-4feb-88f2-c379479a935a","id":"/providers/Microsoft.Flow/flows/da136696-ed7f-4feb-88f2-c379479a935a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"TestEmail","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"62e3c002-adbe-4d4f-8f2d-d5ae993ed753","type":"User","tenantId":"4bc3d1e1-0e5d-4c36-adf7-38c9ac37083c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-15T09:01:33.2076514Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_email_arrives_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"208098d8-c63c-4f6a-b680-f8b58bf5ac2a"},"type":"OpenApiConnectionNotification","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"parameters":{"folderPath":"Inbox","includeAttachments":true,"subjectFilter":"Account Opening Form","importance":"Any","fetchOnlyWithAttachment":true},"authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerOutputs()?['body/attachments']","actions":{"Extract_information_from_documents":{"runAfter":{},"metadata":{"operationMetadataId":"058acb14-dd31-4d4b-bf0c-42662aff800e","flowSystemMetadata":{"portalOperationId":"aibuilderpredict_formsprocessing","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"}},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_formsprocessing"},"parameters":{"recordId":"2f20172a-99be-4c85-b197-f4f6daf0feaa","item/requestv2/mimeType":"application/pdf","item/requestv2/base64Encoded":"@items('Apply_to_each')?['contentBytes']"},"authentication":"@parameters('$authentication')"}},"Add_a_row_into_a_table":{"runAfter":{"Extract_information_from_documents":["Succeeded"]},"metadata":{"01QAP2FZSIKHRRTFRYWBE2AQE6QY4GIWFH":"/test.xlsx","operationMetadataId":"fbbe0d9b-e547-4d5f-80a4-cc3d87012a6d","tableId":"{0DD047BF-0028-42A6-A561-5770B697274D}","01QAP2FZWRIJ6WRS5RS5FLQOIOFVLTIV3G":"/Book12.xlsx","01QAP2FZQVCEMPNFHYE5D2NDSXQZ4WSXUK":"/Account Opening Form.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"me","drive":"b!3b7_fmyTSEuwa96aMNYdkbrENymrfzdGtxOVnP985-goMrhAaaaNQ5y1jsnYSZoj","file":"01QAP2FZQVCEMPNFHYE5D2NDSXQZ4WSXUK","table":"{4FE5D56E-644E-4586-8648-F6DDDF3FB6CF}","item/Name":"@outputs('Extract_information_from_documents')?['body/responsev2/predictionOutput/labels/Name/value']","item/Email id":"@outputs('Extract_information_from_documents')?['body/responsev2/predictionOutput/labels/email_00b79e08a370d70fb030db0617f90c51b4/value']","item/Address":"@outputs('Extract_information_from_documents')?['body/responsev2/predictionOutput/labels/address/value']","item/Bank Account":"@outputs('Extract_information_from_documents')?['body/responsev2/predictionOutput/labels/bank_00234896d2f7c8b29f721f0b487883295f2/value']","item/Date":"@outputs('Extract_information_from_documents')?['body/responsev2/predictionOutput/labels/date/value']","item/Email Stmnt":"@outputs('Extract_information_from_documents')?['body/responsev2/predictionOutput/labels/Email_00b13a42ddd33d1898f00f9a5573aadc94/value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"ae67faa9-1b19-483d-9076-8148ff451ca9"},"type":"Foreach"}}},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-08cfc6af-856f-425f-9429-af203b319199","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-e373ce88-edd7-488c-a279-0e004f9b63c2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"43a32fac55ff4a1eadc01f12c5bee4bf","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}