samples/romaos_homecare/GlobalAIPowerPlatformHackathon/src/Workflows/Visit-UpdateLatitudeandLongitude-F1430F70-2A5E-EE11-BE6F-0022480B6A3F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "rms_sharedcommondataserviceforapps_c37ac"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "6facd06e-2c3f-4ea2-8482-8fa2a6c63132"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "rms_visit",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "rms_patient"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Patient": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f812ec1d-86fd-4a5e-b077-330c49341881"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "rms_patients",
              "recordId": "@triggerOutputs()?['body/_rms_patient_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Contact": {
          "runAfter": {
            "Get_Patient": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "01785216-95ec-4fb4-94c0-d5cca4522cd4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@outputs('Get_Patient')?['body/_rms_contact_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Get_Contact": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8baf632b-de50-420e-853d-62771ccb12ce"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "rms_visits",
              "recordId": "@triggerOutputs()?['body/rms_visitid']",
              "item/rms_latitude": "@outputs('Get_Contact')?['body/address1_latitude']",
              "item/rms_longitude": "@outputs('Get_Contact')?['body/address1_longitude']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}