samples/AI Talking Avatar/Workflows/UploadImage-B5E76BFF-E152-EE11-BE6E-6045BDA8A6D7.json
{
  "properties": {
    "connectionReferences": {
      "shared_onedriveforbusiness": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedonedriveforbusiness_99c06"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "21bb1144-d319-4c53-8209-f57a08b6a603"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "title": "File Content",
                  "type": "object",
                  "x-ms-dynamically-added": true,
                  "description": "Please select file or image",
                  "x-ms-content-hint": "FILE",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "contentBytes": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                }
              },
              "required": []
            }
          }
        }
      },
      "actions": {
        "Create_file": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c50384f9-f206-4b87-9a0c-5355084b3462"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "folderPath": "/Images",
              "name": "avatar.jpeg",
              "body": "@triggerBody()['file']['contentBytes']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "HTTP": {
          "runAfter": {
            "Convert_file_using_path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f9bb109-f82a-4373-8074-4f7d84ac4bd7"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://upload.heygen.com/v1/talking_photo",
            "headers": {
              "X-Api-Key": "YjkyMjc2MzdjMjllNDJkZDhkMTgyMTgzYTIzYWVlYjUtMTY5NTg3ODM2Mg==",
              "Content-Type": "image/jpeg"
            },
            "body": "@body('Convert_file_using_path')"
          }
        },
        "Convert_file_using_path": {
          "runAfter": {
            "Create_file": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "975ed79f-11c6-4f2d-bab7-92d038fbf6e0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_onedriveforbusiness",
              "operationId": "ConvertFileByPath",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
            },
            "parameters": {
              "path": "/Images/avatar.jpeg",
              "type": "JPG"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5765951b-61dc-4654-b2d0-66d14b683c1f"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP')",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "talking_photo_id": {
                      "type": "string"
                    },
                    "talking_photo_url": {
                      "type": "string"
                    }
                  }
                },
                "msg": {},
                "message": {}
              }
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "73614566-a3f6-4666-88a2-d3de1f01e171"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "image_id": "@body('Parse_JSON')?['data']?['talking_photo_id']"
            },
            "schema": {
              "type": "object",
              "properties": {
                "image_id": {
                  "title": "Image_Id",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}